* {
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
/*Nav Bar*/
nav{

	margin-bottom: 7.5rem;
   
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
	box-shadow: 2px 2px 4px rgba(94, 92, 92, 0.5);
}

img{

	padding-left: 150px;
}


nav > ul  > li {
    list-style-type: none;
    display: inline;
}


.nav-logo{

	position: absolute;	
	padding: -0.11rem 0;

}

nav .nav, nav .nav-logo {
    float: left;
    display: block;
    margin: 0.8rem;
    font-weight: bold;
    position: sticky;
    background-color: white;
    }

.right-nav{

	float: right;
	text-indent: 30px;
	margin: 0.2rem;
    font-weight: bold;
    position: sticky;
    background-color: white;
    font-size: 22px;

}

.tuitt-button{

	border-radius: 20px;
	border-style: none;
	height: 30px;
	width: 100px;
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 15px;
	width: 8rem;

    
}

.apply-button{

	border-radius: 40px;
	border-style: none;
	height: 40px;
	width: 100px;
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	width: 9rem;
	margin-right: 5px;
	margin-top: 20px;
	font-size: 15px;
}



#bg-image{

	min-height: 50vh;
	min-width: 100vh;	 
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-position: center;
	


	 
}
.front-bg{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 50vh;
}



.intro{

	justify-content: center;
	margin-top: 20px;

	
}

.container{	
	clear: both;
	text-align: right;	
	color: white;
	padding-right: 150px;
}

.title{
	 
	font-size: 50px;
	margin-left: 1000px;
	max-width: 30ch;
	margin-top: 62px;
	font-family: 'Zilla Slab', serif;

 
}

.title-2{

	font-family: 'Zilla Slab', serif;
	font-weight: bold;
	text-align: center;
	font-size: 40px;


}
.subtitle{

	font-size: 20px;
	margin-left: 1300px;
	max-width: 40ch;
	margin-top: 20px;
	word-spacing: 5px;
	 
}



.intro-description{

	justify-content: center;
	  padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 100px;
    font-size: 20px;

}

.pre-footer {
    background-color: #f7fbfb;
    padding: 1rem;
    text-align: center;

}

.prefooter-description {
    margin-top: 3rem;
    margin-right: 16rem;
    margin-left: 9rem;

}

.book-button {
    background-color: #336589;
    color: white;
    border-radius: 1rem;
    border-style: none;
    font-size: 1rem;
    width: 8rem;
    padding: .3rem;
    margin-top: 1rem;
    margin-bottom: 9rem;
}

footer{

	text-align: center;
	margin-top: -5rem;
}